<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    
        <%- include partials/_header.ejs %>



 <% if (user){ %>
    <h2>URLS</h2>
<ul>
    <% for(url of urls) {%>
        <% for(urlKey in url) { %>
        <li><%= urlKey %> - <%= url[urlKey] %> 
                <form method="POST" action="/urls/<%= urlKey %>/delete">
               <button type="submit">Delete</button> 
               <a href="/urls/<%= urlKey %>">Edit</a>
                </form>
        </li>
        <% }; %>
    <% } %> 
<% } %>
<% if (!user){ %>
<h2>Please login to create a new short URL.</h2>
<% } %>
</ul>

<a href="/urls/new"><button type="submit"> Create a url</button> </a>

    
</body>
</html>